#reaction-search-id {
    margin-left: 3px;
    align-items: flex-start;
}

#reaction-search-parent>div:not(#reaction-search-id) {
    display: flex;
}

#reaction-search-parent.search-active>div:not(#reaction-search-id) {
    display: none;
}

.reaction-search-input-box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#reaction-search-input {
    width: 90%;
    border-radius: 20px;
    border: 0;
    background-color: var(--comment-background);
    color: var(--primary-text);
    padding: 7px;
}

#reaction-search-input:focus {
    outline: none;
}

#reaction-search-input::placeholder {
    color: var(--secondary-text);
}