#reaction-search-id {
    margin-left: 3px;
    align-items: flex-start;
}

.reaction-search-input-box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#reaction-search-input {
    width: 80%;
    border-radius: 20px;
    border: 0;
    background-color: var(--comment-background);
    color: var(--primary-text);
    padding: 7px;
    padding-left: 27px;
}

#reaction-search-input.loading-search::placeholder {
    color: var(--disabled-text);
}

#reaction-search-input:focus {
    outline: none;
}

#reaction-search-input::placeholder {
    color: var(--secondary-text);
}

#input_container {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
}

#input_img {
    position: absolute;
    bottom: 9px;
    left: 9px;
    width: 12px;
    height: 12px;
}